
body {
	background-color: #E6E8E6;
}

h2 {
	color: #494850;
}

h4 {
	color: #494850;
}

ol {
	color: #494850;
}

.intro {
	color: #494850;
}

.score {
	color: #494850;
}

.canvas {
	width: 70%;
}


.area_Clinton {
	fill-opacity:.8;
}


.area_Trump {
	fill-opacity:.8;
}

.axis-yT .tick line{
	stroke:gray;
	stroke-width:0.2px;
}
.axis-yT .domain{
	display:none;
}

.axis-yC .tick line{
	stroke:gray;
	stroke-width:0.2px;
}
.axis-yC .domain{
	display:none;
}


.axis-y .tick line{
	stroke:gray;
	stroke-width:0.2px;
	opacity: 0.5;
}
.axis-y .domain{
	display: none;
}

.axis-x .domain{
	display: none;
}

.axis-x .tick line{
	stroke-width:0px;
}

.axisx-count .domain{
	display:none;
}

.axisx-count .tick line{
	stroke-width:0px;
}


.plot3 {
	position: absolute;
	right: 20px;
	top:200px;
	width: 30%;
	height: 600px;
}

.olTrump{
	width: 350px;
	height: 250px;
	overflow:hidden; 
	overflow-y:scroll;
	font-size: 12px;
	left: 10px;
}

.olClinton{
    width: 350px;
	height: 250px;
	overflow:hidden; 
	overflow-y:scroll;
	font-size: 12px;
	left: 10px;
}

.selectedC{
	color: #232066;
	font-weight: bold;
}

.selectedT{
	color: #E91D0E;
	font-weight: bold;
}



.highlightedT{
	stroke: #3AB795;
	stroke-width: 5px;
}


.highlightedC{
	stroke: #3AB795;
	stroke-width: 5px;
}

.btn{
    border: none;
    opacity: 0.8;
}

.blank {
	height: 10px;
}