
body {
	background-color: #E6E8E6;
}

.container {
	margin-top:20px;
}

h2 {
	color: #494850;
}

h4 {
	color: #494850;
	position: relative;
	float: left;
	padding: 0px 5px;
}

.brushHint {
    position: relative;
	float: left;
	padding: 10px 10px;
	margin-bottom: 0px;
}

.button{
	position: relative;
	float: left;
	top: 5px;
    opacity: 0.7;
    margin-right: 5px;
    margin-left: 5px;
    width:120px;
    height: 30px;
    padding: 5px;
    text-align: center;
    border-radius: 3%;

}

.button:hover{
	cursor: pointer;
}

.btnT{
    background-color: #E91D0E;
    color: white;
}

.btnC{
    background-color: #232066;
    color: white;
}

.hidedBtnT{
    border: 1px solid #E91D0E;
    color: #333;
    background-color:  #E6E8E6;
}

.hidedBtnC{
    border: 1px solid #232066;
    color: #333;
    background-color:  #E6E8E6;
}

.score {
	color: white;
	padding: 10px 10px;
	visibility: hidden;
	position: absolute;

}

ol {
	color: #494850;
}

.intro {
	color: #494850;
	width: 55%;
}

.canvas {
	width: 70%;
}


.area_Clinton {
	fill-opacity:.8;
}


.area_Trump {
	fill-opacity:.8;
}

.axis-yT .tick line{
	stroke:gray;
	stroke-width:0.2px;
}
.axis-yT .domain{
	display:none;
}

.axis-yC .tick line{
	stroke:gray;
	stroke-width:0.2px;
}
.axis-yC .domain{
	display:none;
}


.axis-y .tick line{
	stroke:gray;
	stroke-width:0.2px;
	opacity: 0.5;
}
.axis-y .domain{
	display: none;
}

.axis-x .domain{
	display: none;
}

.axis-x .tick line{
	stroke-width:0px;
}

.axisx-count .domain{
	display:none;
}

.axisx-count .tick line{
	stroke-width:0px;
}


.plot3 {
	position: absolute;
	right: 20px;
	top:130px;
	width: 30%;
	height: 600px;
}

.spanT{
    border-bottom: 3px solid #E91D0E;
}

.spanC{
    border-bottom: 3px solid #232066;
}

.title{
	padding: 5px 15px;
}

.olTrump{
	width: 325px;
	height: 230px;
	overflow:hidden; 
	overflow-y:scroll;
	font-size: 12px;
	left: 10px;
}

.olTrump:hover{
	cursor: default;
}

.olClinton{
    width: 325px;
	height: 230px;
	overflow:hidden; 
	overflow-y:scroll;
	font-size: 12px;
	left: 10px;
}

.olClinton:hover{
	cursor: default;
}

.selectedC{
	color: #232066;
	font-weight: bold;
}

.selectedT{
	color: #E91D0E;
	font-weight: bold;
}


.highlightedT{
	stroke: #3AB795;
	stroke-width: 5px;
}


.highlightedC{
	stroke: #3AB795;
	stroke-width: 5px;
}


.blank {
	height: 15px;
}

span.about{
	border-bottom: 1px solid #3AB795;
}

span.about:hover{
	cursor: pointer;
}

.aboutContent {
	display: none;
	position: fixed;
	z-index: 999999;
	left: 325px;
	top: 125px;
	width:50%;
	height: 75%;
    overflow: auto;
    opacity: 1;
    position: fixed;
    background-color: #fefefe;
    width: 50%;
    padding: 40px 40px;
    color:#666666;

}

.close{
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}




